@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark&family=Shippori+Mincho&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/solid.min.css");

@import "variables";
@import "reset";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Palanquin Dark", serif;
    background: $bodyColor;
    color: $generalText;
}

header {
    max-height: 72px;
}

nav a {
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease-in-out;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
        border-bottom: 3px solid transparent !important;
    }

    &.active {
        border-bottom: 3px solid #fff;
    }
}

.activeTab {
    border-bottom: 2px solid #fff;
}

ol {
    counter-reset: li;
    padding-left: 45px;

    li {
        counter-increment: li;
        line-height: 120%;
        position: relative;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        line-height: 110%;

        &::before {
            content: counter(li) ".";
            font-size: 40px;
            position: absolute;
            left: -45px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.loading-bg {
    background: $secondaryColor;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 0.5s ease-in-out;
}

.remove-loading-bg {
    top: -100%;
}

.triangle {
    background-image: linear-gradient(
        to left top,
        $mainColor 0%,
        $mainColor 50%,
        transparent 50%
    );
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;

    &::before {
        content: "";
        background-image: linear-gradient(
            to left top,
            $secondaryColor 0%,
            $secondaryColor 50%,
            transparent 50%
        );
        position: absolute;
        width: 70%;
        height: 20px;
        bottom: 20px;
        right: -6px;
        transform: rotate(-6deg);
    }
}

.triangle-upper {
    background-image: linear-gradient(
        to left top,
        $secondaryColor 0%,
        $secondaryColor 50%,
        transparent 50%
    );
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 52px;
    right: -5px;
    transform: rotate(-8deg);
}

.triangle-back {
    background-image: linear-gradient(
        to left top,
        $secondaryColor 0%,
        $secondaryColor 50%,
        transparent 50%
    );
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 20px;
    left: 0;

    &::before {
        content: "";
        width: 100%;
        height: 20px;
        background: $secondaryColor;
        position: absolute;
        top: 50px;
    }
}

.santiago-map {
    &::before {
        content: "";
        background-image: linear-gradient(
            to right top,
            $mainColor 0%,
            $mainColor 50%,
            transparent 50%
        );
        width: 85%;
        height: 20px;
        position: absolute;
        left: 0;
        top: -35px;
        z-index: 1;
        opacity: 0.8;
    }

    &::after {
        content: "";
        background-image: linear-gradient(
            to left bottom,
            $mainColor 0%,
            $mainColor 50%,
            transparent 50%
        );
        width: 95%;
        height: 20px;
        position: absolute;
        right: 0;
        bottom: -40px;
        z-index: -2;
    }
}

.separator {
    width: 2px;
    height: 30px;
    background: #fff;
}

// TIMELINE
.timeline {
    position: relative;
    z-index: 1;

    li {
        list-style: none;
        float: left;
        width: calc(100% / 3);
        position: relative;
        text-align: center;
        font-size: 14px;
        margin-bottom: 30px;
        color: #b3b3b3;

        &::before {
            font-family: "Font Awesome 6 Free";
            content: "";
            width: 40px;
            height: 40px;
            border: 2px solid #b3b3b3;
            border-radius: 50%;
            display: block;
            font-size: 25px;
            text-align: center;
            line-height: 38px;
            margin: 0 auto 10px auto;
            background: #fff;
            color: #b3b3b3;
            transition: all ease-in-out 0.3s;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #ccc;
            top: 20px;
            left: -50%;
            z-index: -999;
            transition: all ease-in-out 0.3s;
        }

        &:first-child::after {
            content: none;
        }

        &.to-send-tl {
            &::before {
                content: "\f466";
                font-size: 20px;
            }
        }

        &.in-transit-tl {
            &::before {
                content: "\f48b";
                font-size: 20px;
            }
        }

        &.delivered-tl {
            &::before {
                content: "\f00c";
            }
        }

        &.not-delivered-tl {
            color: $titleColor;

            &::before {
                content: "\f00d";
                color: #fff;
                background: $titleColor;
                border-color: $titleColor;
            }
        }

        &.active-tl {
            color: $mainColor;

            &::before {
                color: #fff;
                background: $mainColor;
                border-color: $mainColor;
            }

            &.delivered-tl {
                color: $success;

                &::before {
                    background: $success;
                    border-color: $success;
                }
            }
        }

        &.active-tl + li::after {
            background: $mainColor;
        }
    }
}

footer {
    position: relative;

    &::before {
        content: "";
        background-image: linear-gradient(
            to right top,
            $mainColor 0%,
            $mainColor 50%,
            transparent 50%
        );
        position: absolute;
        width: 100%;
        height: 20px;
        top: -20px;
        left: 0;
        opacity: 0.5;
    }

    &::after {
        content: "";
        background-image: linear-gradient(
            to left bottom,
            $secondaryColor 0%,
            $secondaryColor 50%,
            transparent 50%
        );
        position: absolute;
        width: 100%;
        height: 20px;
        top: 0;
        right: 0;
    }
}

address {
    font-size: 14px;
    font-style: normal;
    line-height: 120%;
    margin-top: 20px;
    color: $titleColor;
}

@import "media-queries";
