.react-form-wizard .wizard-icon-circle .wizard-icon {
    position: relative;
    top: -1px;
}

.wizard-card-footer {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.react-form-wizard .wizard-tab-content {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}
